.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: burlywood;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.login-container input {
  margin: 8px 0;
  padding: 10px;
  width: 90%;
}
.login-container button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
